td {
	margin: auto;
	text-align:center;				
	color: gray;
	vertical-align: middle;				
}

#box td {
	border:solid 1px gray;
	text-align:center;
	font-size:40px;
	color: gray;
	width: 55px;
	height: 55px;
}

#box td:hover {
	color: red;
	cursor: hand;
}